body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* My own code */

.navigation-bar {
  color: white
}

.main-display {
  break-inside: avoid;
  column-count: 3;
}
.card {
  display: inline-block;
  overflow: visible;
}

.user-pix {
  width: 
}

.review-textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 2%
}

.review-text {
  width: 100%;
  text-align: justify;
  margin-right: 2%
}

.review-pix {
  width: 80px;
  margin-right: 2%
}

.review-pix-friends {
  width: 50px;
  margin-right: 2%
}


